<h1>Ver Especies identificadas</h1>
<p>Listado de especies identificadas</p>

<div class="galery">
  <div class="galery-row">
    <div>
      <img [src]="imagenOne"/>
    </div>
    <div>
      <img [src]="imagenTwo"/>
    </div>
    <div>
      <img [src]="imagenThree"/>
    </div>
  </div>
</div>

  <div>
    <h2>Faena</h2>
    <p>Fecha: <input type="date"/></p>
    <button type="button">Ver detalle de especies</button>
  </div>

  <div>
  
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#Lance</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Especie</th>
      <th scope="col">Embarcación</th>
      <th scope="col">Posición Lance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>02</td>
      <td>Lobos Marinos</td>
      <td>Polar V</td>
      <td>Lat.-Alti Rumbo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>10</td>
      <td>Pelicano</td>
      <td>Polar V</td>
      <td>Lat.-Alti Rumbo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>20</td>
      <td>Olga</td>
      <td>Polar V</td>
      <td>Lat.-Alti Rumbo</td>
    </tr>
  </tbody>
</table>
  
  </div>