<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]='urlUser'>Ocean App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]='urlUser'>Usuarios</a>
        <a class="nav-link" [routerLink]='histogramReport'>Histograma</a>
        <a class="nav-link" [routerLink]='performanceReport'>Linea tiempo</a>
        <a class="nav-link" [routerLink]='identifiedSpecies'>Especies</a>
      </div>
    </div>
  </div>
</nav>
    <router-outlet></router-outlet>
  </div>

