.container-graph {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.container-graph > div {
  width: 50%;
}

.navbar-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user {
color: black;
font-weight: bold;
}

.rol {
  color: gray;
  font-weight: bold;
}

.close {
  cursor: pointer;
  color: red;
}